#experiencesComponent {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

#experiences {
  border-color: #41575d;
}

.experiencesContainer {
  background-color: rgba(65, 87, 93, 0.85);
  border-radius: 15px;
  max-width: 800px;
  margin: auto;
  .header {
    color: white;
    font-size: 3em;
    border-bottom: 5px solid white;
    margin: 100px 50px 40px 50px;
    text-align: center;
    padding-top: 50px;
  }
}

.rfpio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.epicodus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jacobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
