#firstview {
  // display: grid;
  // grid-template: 1fr/ 1fr 1fr;
  height: 100vh;
}


.box {
  // background-color: navy;
  // background-image: linear-gradient(black, navy);
  // background-image: url("../assets/img/stars.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.content {
  // background: rgba(245,242,208,.7);
  background-color: #fffff0;
  color: black;
  height: 500px;
  width: 500px;
  align-self: center;
  border-radius: 2%;
  display: grid;
  justify-content: center;
  h1 {
    font-size: 4vh;
  }
  img {
    margin: 0px auto;
    width: 30%;
  }
  p {
    margin: 0px 20px;
  }
}
