#navbar {
  position: sticky;
  top: 0;
  display: grid;
  grid-template: 75px / 2fr 1fr;
  background-color: lightslategray;
  ul {
    align-self: center;
    justify-self: end;
  }

  li {
    display: inline;
    font-size: 1.5vw;
    margin: 0px 10px;
  }

  img {
    height: 100%;
  }
}

.diamonds {
  display: flex;
  align-items: center;
}
