.header {
  text-align: center;
  margin: 100px;
}

#projectArea {
  display: grid;
  grid-template: 80vh 80vh/1fr 1fr;
  grid-gap: 100px;
  margin: 0px 100px;
}

#first {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template: 80vh/1fr;
  .topPanel {
    grid-row: 1;
    grid-column: 1;
    background-color: #b0b0b0;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 30px / 1fr;
    justify-items: center;
    img {
      width: 100%;
    }
    h3 {
      margin: auto;
      text-decoration: underline;
    }
    p {
      margin: 10px 20px;
    }
    .cutout {
      height: 60px;
      width: 80px;
      background-color: lightgray;
      border-radius: 50% 50% 50% 50%;
    }
  }
  .bottomPanel {
    grid-row: 1;
    grid-column: 1;
    z-index: -1;
    align-self: end;
  }
  .topPanel:hover ~ .bottomPanel {
    border: black solid 1px;
    transform: translate(0px,100px);
  }
}

#second {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  .topPanel {
    grid-row: 1;
    grid-column: 1;
    background-color: purple;
  }
  .bottomPanel {
    grid-row: 1;
    grid-column: 1;
  }
}

#third {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  .topPanel {
    grid-row: 1;
    grid-column: 1;
    background-color: lightblue;
  }
  .bottomPanel {
    grid-row: 1;
    grid-column: 1;
  }
}
