$size: 35px;

#projectArea {
  display: grid;
  grid-template: 15px 1fr/1fr 1fr 1fr;
  margin-bottom: 100px;
  grid-row-gap: 10px;
}

.center {
  text-align: center;
  align-self: center;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  width: 16px;
  padding: 16px;
  color: white;
  border-bottom-color: lightgray;
  background-color: lightgray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  // border-radius: 0 3px 3px 0;
  user-select: none;
  align-self: center;
}

.prev {
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
}

.next {
  grid-row: 2;
  grid-column: 3;
  margin-right: 18px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dotContainer {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.topPanel {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 35px / 1fr;
  justify-content: center;
  img {
    width: 100%;
  }
  h3 {
    margin: auto;
    text-decoration: underline;
  }
  p {
    margin: 10px 20px;
  }
  .cutout {
    height: $size;
    width: $size * 2;
    margin: 0 1em 1em 0;
    justify-self: center;
    background-color: lightgray;
    border-top-left-radius: $size * 2;
    border-top-right-radius: $size * 2;
  }
}
.bottomPanel {
  height: 100px;
  align-self: end;
  z-index: -1;
}

#first {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template: 80vh/1fr;
  max-width: 500px;
  margin: 0px auto;
  .topPanel {
    grid-row: 1;
    grid-column: 1;
    background-color: #b0b0b0;
  }
  .bottomPanel {
    grid-row: 1;
    grid-column: 1;
  }
  .topPanel:hover ~ .bottomPanel {
    border: black solid 1px;
    animation-name: hoverdrop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

#second {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template: 80vh/1fr;
  max-width: 500px;
  margin: 0px auto;
  .topPanel {
    grid-row: 1;
    grid-column: 1;
    background-color: #b0b0b0;
  }
  .bottomPanel {
    grid-row: 1;
    grid-column: 1;
  }
  .topPanel:hover ~ .bottomPanel {
    border: black solid 1px;
    animation-name: hoverdrop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

#third {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template: 80vh/1fr;
  max-width: 500px;
  margin: 0px auto;
  .topPanel {
    grid-row: 1;
    grid-column: 1;
    background-color: #b0b0b0;
  }
  .bottomPanel {
    grid-row: 1;
    grid-column: 1;
  }
  .topPanel:hover ~ .bottomPanel {
    border: black solid 1px;
    animation-name: hoverdrop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

#fourth {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template: 80vh/1fr;
  max-width: 500px;
  margin: 0px auto;
  .topPanel {
    grid-row: 1;
    grid-column: 1;
    background-color: #b0b0b0;
  }
  .bottomPanel {
    grid-row: 1;
    grid-column: 1;
  }
  .topPanel:hover ~ .bottomPanel {
    border: black solid 1px;
    animation-name: hoverdrop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes hoverdrop {
  0% {transform: translate(0px,0px) }
  100% {transform: translate(0px,100px) }
}
