#resume {
  grid-column: 2;
}

iframe {
  display: block;
  margin: auto;
  width: 900px;
  height: 100vh;
}

#resumeDownload {
  display: none;
}

@media only screen and (max-width: 900px) {
  iframe {
    display: none;
  }

  #resumeDownload {
    display: block;
  }
}
