#resume {
  border-color: rgba(65,87,93,0);
}

.resumeContainer {
  .header {
    padding: 0px 50px;
    width: 40%;
    margin: 100px auto 40px auto;
  }
}

iframe {
  display: block;
  margin: auto;
  width: 900px;
  height: 100vh;
}

#resumeDownload {
  display: none;
}

@media only screen and (max-width: 900px) {
  iframe {
    display: none;
  }

  #resumeDownload {
    display: block;
  }
}
